
sdk/obj/x86/Release/glitch-csharp-sdk.csproj.FileListAbsolute.txt

sdk/obj/x86/Release/SDK.csproj.FileListAbsolute.txt

sdk/obj/x86/Release/GlitchSDK.pdb

sdk/obj/x86/Release/GlitchSDK.dll

sdk/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache

sdk/obj/x86/Debug/glitch-csharp-sdk.pdb

sdk/obj/x86/Debug/glitch-csharp-sdk.exe

sdk/obj/x86/Debug/glitch-csharp-sdk.csproj.FileListAbsolute.txt

sdk/obj/x86/Debug/SDK.csproj.FileListAbsolute.txt

sdk/obj/x86/Debug/GlitchSDK.pdb

sdk/obj/x86/Debug/GlitchSDK.dll

sdk/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache

sdk/bin/Release/glitch-csharp-sdk.pdb

sdk/bin/Release/glitch-csharp-sdk.exe.config

sdk/bin/Release/glitch-csharp-sdk.exe

sdk/bin/Release/GlitchSDK.pdb

sdk/bin/Release/GlitchSDK.dll

sdk/bin/Debug/glitch-csharp-sdk.vshost.exe.manifest

sdk/bin/Debug/glitch-csharp-sdk.vshost.exe.config

sdk/bin/Debug/glitch-csharp-sdk.vshost.exe

sdk/bin/Debug/glitch-csharp-sdk.pdb

sdk/bin/Debug/glitch-csharp-sdk.exe.config

sdk/bin/Debug/glitch-csharp-sdk.exe

sdk/bin/Debug/GlitchSDK.pdb

sdk/bin/Debug/GlitchSDK.dll

sdk/SDK.csproj.user

sample/obj/x86/Release/Sample.pdb

sample/obj/x86/Release/Sample.exe

sample/obj/x86/Release/Sample.csproj.FileListAbsolute.txt

sample/obj/x86/Release/ResolveAssemblyReference.cache

sample/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache

sample/obj/x86/Debug/Sample.pdb

sample/obj/x86/Debug/Sample.exe

sample/obj/x86/Debug/Sample.csproj.FileListAbsolute.txt

sample/obj/x86/Debug/ResolveAssemblyReference.cache

sample/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache

sample/bin/Release/Sample.vshost.exe.manifest

sample/bin/Release/Sample.vshost.exe.config

sample/bin/Release/Sample.vshost.exe

sample/bin/Release/Sample.pdb

sample/bin/Release/Sample.exe

sample/bin/Release/GlitchSDK.pdb

sample/bin/Release/GlitchSDK.dll

sample/bin/Debug/Sample.vshost.exe.manifest

sample/bin/Debug/Sample.vshost.exe

sample/bin/Debug/Sample.pdb

sample/bin/Debug/Sample.exe

sample/bin/Debug/GlitchSDK.pdb

sample/bin/Debug/GlitchSDK.dll
